<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Videos gRPC-web</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries;">
        <td>{{country.id}}</td>
        <td>{{country.name}}</td>
        <td>{{country.description}}</td>

        <td>
          <button (click)="deletePuta(country.id)" class="btn btn-danger">Apagar</button>
          <button (click)="updatePuta(country.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
          <button (click)="updatePuta(country.id)" class="btn btn-info" style="margin-left: 10px">Editar</button>
          <button (click)="updatePuta(country.id)" class="btn btn-info" style="margin-left: 10px">Baixar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
